<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764901058827-1dcl8q2rifq8avhj4b64b950p6q1v45t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764901058827-1dcl8q2rifq8avhj4b64b950p6q1v45t</string>
	<key>API_KEY</key>
	<string>AIzaSyCGqh3yLPF5-1IQtQzsiwbsecxayu0NVqo</string>
	<key>GCM_SENDER_ID</key>
	<string>764901058827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStudyApp</string>
	<key>PROJECT_ID</key>
	<string>study-app-7a5b0</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-7a5b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764901058827:ios:e8e2db29b829bc1bd31a0e</string>
</dict>
</plist>